@using Breeze.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Breeze</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="@Url.Action("Index", "SystemBuilder")" class="logo">
            <span class="logo-mini"><b>BR</b></span>
            <span class="logo-lg"><b>Breeze</b>Controll</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    @Html.Partial("_LoginPartial")
                    <li>
                        <a href="#" data-toggle="control-sidebar">
                            <i class="fa fa-gears"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@User.Identity.GetUserNameIdentifier()</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li id="left-sidebar-menu-system-builder">
                    <a href="@Url.Action("Index", "SystemBuilder")">
                        <i class="fa fa-cog"></i> <span>System Builder</span>
                    </a>
                </li>
                <li id="left-sidebar-menu-components">
                    <a href="@Url.Action("Index", "Components")">
                        <i class="fa fa-th"></i> <span>Components</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.SubTitle</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a>
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </section>
        <section class="content">
            @RenderBody()
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.0.1
        </div>
        <strong>Copyrights Bartosz Rachwal (AIST)</strong> All rights reserved.
    </footer>
    <div class="control-sidebar-bg"></div>
</div>
@Scripts.Render("~/AdminLTE/plugins/jquery/js")
@RenderSection("menu", required: false)
@Scripts.Render("~/AdminLTE/bootstrap/js")
@Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
@Scripts.Render("~/AdminLTE/plugins/fastclick/js")
@Scripts.Render("~/Scripts/Shared/_Layout")
@Scripts.Render("~/AdminLTE/dist/js")
@RenderSection("scripts", required: false)
</body>
</html>